@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

header .main-nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4000;
}
header .main-nav-scrolled{
	background-color: yellow;
}
.navbar-light .navbar-nav .nav-link{
	color: yellow;
}
.navbar-light .navbar-nav .active .nav-link{
	color: cyan;
}

/*for test*/
body
{
  font-family: 'Red Hat Display';
  height: 400px;
}
.bg-dark
{
	background-color:  !important;
}
.linkhover
{
	color: red;
}