/* Kahf Logo Color : rgb(255, 204, 41) */

/* @import url("https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

header .main-nav {
  /* coba gawe initial */
  position: initial;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1240;
  font-size: 18px;
  text-transform: uppercase;
}
/* Body */
body {
  font-family: "Nunito", sans-serif;
  background: black;
  margin: 0;
}

/*OUR PROGRAM...................................*/
/* per content wrapper */
.blog-post {
  /* border: 1px solid rgb(255, 204, 41); */
  margin-bottom: 5px;
  padding: 20px;
}
/* image wrapper */
.img-wrapper {
  width: 150px;
}

.blog-post-p {
  padding-top: 0;
}
/*VISI MISI.....................................*/
.visi {
  padding: 20px;
}

/*ABOUT US......................................*/
h1 {
  margin: 40px 0 30px 0;
  background: black;
  color: rgb(255, 204, 41);
  font-weight: bold;
  padding: 5px 0px;
}
h3,
p {
  color: rgb(255, 204, 41);
}

.our-team-main {
  width: 100%;
  height: auto;
  border-bottom: 5px #323233 solid;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  margin-bottom: 28px;
}

.our-team-main img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 150px; /*Ngatur Size fotoe */
}

.our-team-main h3 {
  font-size: 20px;
  font-weight: 700;
}

.our-team-main p {
  margin-bottom: 0;
}

.team-back {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 0 15px;
  text-align: center;
  background: #fff;
}

.team-front /*Atur Background e */
 {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
  background: rgb(20, 20, 20);
  padding: 70px;
  bottom: 0px;
  transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
  bottom: -200px;
  transition: all 0.5s ease;
}

.our-team-main:hover {
  border-color: #777;
  transition: 0.5s;
}

/*our-team-main*/

/*BLOG..........................................*/
ul {
  margin: 0px;
  padding: 0px;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: #2b96cc;
  text-decoration: none;
}
.section-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.section-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #ff5e14;
  bottom: -25px;
  margin-left: -30px;
}
.section-title.service-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}
.blog-area {
  background: #f8f9fa;
  min-height: 100vh;
}
.blog-wrapper {
  background: #fff;
  overflow: hidden;
  padding: 20px;
}
.home-blog-wrapper {
  transition: 0.3s;
}
.blog-wrapper.home-blog-wrapper:hover {
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.12);
}
.blog-thumb {
  margin-bottom: 20px;
}
.blog-title {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4;
  margin: 10px 0 15px;
  padding: 0;
  text-align: left;
}
.blog-content.home-blog h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.blog-content.home-blog p {
  margin-bottom: 10px;
}
.link-box.home-blog-link a {
  font-size: 14px;
  color: #ff5e14;
}
.blog-title a {
  color: #222;
}
.link-box a {
  color: #555;
}
.link-box a:hover {
  color: #ff5e14;
}
.blog-title a:hover {
  color: #ff5e14;
}
.meta-info ul li {
  color: #9e9e9e;
  display: inline-block;
  font-size: 11px;
  padding: 0 12px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.embed-responsive {
  margin-bottom: 20px;
}
.meta-info ul li:first-child {
  padding-left: 0;
}
.meta-info ul li a {
  color: #ff5e14;
}
.meta-info ul li a:hover {
  color: #444;
}
.meta-info ul li::before {
  border: 1px solid #999;
  border-radius: 5px;
  content: "";
  height: 5px;
  left: -4px;
  position: absolute;
  top: 6px;
  width: 5px;
}
.meta-info ul li:first-child:before {
  display: none;
}
.blog-thumb img {
  width: 100%;
}
.link-box a {
  font-weight: 600;
}

/*EVENT...................................... */
.midtext {
  text-align: center;
}

.polaroids {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 204, 41);
}

.polaroid {
  display: inline-block;
  margin: 10px;
  position: relative;
  width: auto;
}

.polaroid img {
  /*modif background fotonya */
  border: 12px solid black;
  border-bottom: 120px solid black;
  -webkit-box-shadow: 3px 3px 3px #888;
  -moz-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888;
  height: 400px;
  max-width: 420px;
}

.polaroid p {
  /* setting posisi tulisan */
  color: white;
  font: 500 18px/22px;
  position: absolute;
  left: 10px;
  bottom: -5px;
  text-align: left;
  width: 100%;
}

/* GALLERY..................................*/
.gallery-wraper {
  margin: 30px 0px 50px;
  color: red !important;
}

.gallery {
  /* margin: 10px 50px; */ /*sumber masalah*/
  padding-left: 80px;
}
.gallery img {
  width: 230px;
  padding: 10px;
  transition: 1s;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* NAVBAR......................................*/
.nav-link.active {
  color: white;
}
.navbar-nav .nav-item .nav-link {
  color: white;
}
/* Navbar versi lama */

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: rgb(255, 204, 41);
}

/* Hamburger Menu when Responsive */
.navbar-toggler {
  background-color: rgb(255, 204, 41);
}

/*Navbar Background Color*/
.bg-dark {
  background-color: rgb(20, 20, 20) !important;
}

/* Wrapper Glider........................... */
.glider-contain {
  width: 100%;
}

/* Right Icon for Glider */
.glider-next {
  right: 30px;
  top: 50%;
}

/* Left Icon for Glider */
.glider-prev {
  left: 30px;
  top: 50%;
}

/* Tulisan di Footer */
.footer {
  color: rgb(255, 204, 41);
}

/* Wrapper Footer */
.row {
  padding-bottom: 10px;
}

/* Location Marker Logo, Tulisan di Footer */
.fa-map-marker,
a {
  color: rgb(255, 204, 41);
}

/* Warna Footer */
h5 {
  color: white;
}
/* MENU PROGRAM KAHF........................................ */
.row.heading h2 {
  color: rgb(255, 204, 41);
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  /* margin: 0 0 40px;*/ /* Jarak Kotak menu ke tulisan Our Program */
  padding-bottom: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.heading.heading-icon {
  display: block;
}
.padding-lg {
  display: block;
  /* padding-top: 60px;  */ /* Jarak Wrapping ke Slider */
  padding-bottom: 60px;
}
.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}
.practice-area .inner {
  border: 1px solid #999999;
  text-align: center;
  margin-bottom: 28px;
  padding: 40px 25px;
}
.our-webcoderskull .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 0;
}
.practice-area .inner h3 {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 0;
}
.practice-area .inner p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.practice-area .inner img {
  display: inline-block;
}

.our-webcoderskull {
  background-color: rgb(30, 30, 30);
}
.our-webcoderskull .cnt-block {
  /*warna kotake */
  float: left;
  width: 100%;
  background: black;
  padding: 50px 10px;
  text-align: center;
  border: 2px solid rgb(255, 204, 41);
  margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure {
  /*lebar fotone*/
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img {
  width: 150px;
  /* height: 150px; */
}
.our-webcoderskull .cnt-block h3 {
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}
.our-webcoderskull .cnt-block h3 a {
  text-decoration: none;
  color: white;
}
.our-webcoderskull .cnt-block h3 a:hover {
  color: gold;
}

/* Desc Box */
.our-webcoderskull .cnt-block p {
  color: gold;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.our-webcoderskull .cnt-block .follow-us {
  margin: 20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa {
  /*warna facebook dkk */
  font-size: 24px;
  color: red;
}

/* Warna Hover dari Medsos dkk */
.our-webcoderskull .cnt-block .follow-us li .fa:hover {
  color: gold;
}
