/* Kahf Logo Color : rgb(255, 204, 41) */

/* @import url("https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

/*event.......................*/
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

header .main-nav {
  /* coba gawe initial */
  position: initial;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1240;
  font-size: 18px;
  text-transform: uppercase;
}
/* Body */
body {
  font-family: "Nunito", sans-serif;
  background: black;
  margin: 0;
}

/*EVENT...................................... */

figure.snip1253 {
  font-family: "Raleway", Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1253 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
figure.snip1253 .image {
  max-height: 220px;
  overflow: hidden;
}
figure.snip1253 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
figure.snip1253 figcaption {
  margin: -40px 15px 0;
  padding: 15px;
  position: relative;
  background-color: #ffffff;
}
figure.snip1253 .date {
  background-color: #2980b9;
  top: 15px;
  color: #fff;
  left: 15px;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
figure.snip1253 .date span {
  display: block;
  line-height: 24px;
}
figure.snip1253 .date .month {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
}
figure.snip1253 h3,
figure.snip1253 p {
  margin: 0;
  padding: 0;
}
figure.snip1253 h3 {
  min-height: 50px;
  margin-bottom: 10px;
  margin-left: 60px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}
figure.snip1253 p {
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}
figure.snip1253 footer {
  padding: 0 25px;
  background-color: #20638f;
  color: #e6e6e6;
  font-size: 0.8em;
  line-height: 30px;
  text-align: right;
}
figure.snip1253 footer > div {
  display: inline-block;
  margin-left: 10px;
}
figure.snip1253 footer i {
  color: rgba(255, 255, 255, 0.2);
  margin-right: 5px;
}
figure.snip1253 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1253:hover img,
figure.snip1253.hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

/* GALLERY..................................*/
.gallery-wraper {
  margin: 30px 0 50px;
  color: red !important;
}

.gallery {
  margin: 10px 50px;
}

.gallery img {
  width: 230px;
  padding: 10px;
  transition: 1s;
}

.gallery img:hover {
  transform: scale(1.1);
}
/*
header .main-nav-scrolled {
  background-color: yellow;
}
.navbar-light .navbar-nav .nav-link {
  color: yellow;
}
.navbar-light .navbar-nav .active .nav-link {
  color: cyan;
}
*/

/* NAVBAR......................................*/
.nav-link.active {
  color: white;
}
.navbar-nav .nav-item .nav-link {
  color: white;
}
/* Navbar versi lama */

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: rgb(255, 204, 41);
}

/* Hamburger Menu when Responsive */
.navbar-toggler {
  background-color: rgb(255, 204, 41);
}

/*Navbar Background Color*/
.bg-dark {
  background-color: rgb(20, 20, 20) !important;
}

/* Navbar Hover versi 2 */
/* .link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link-3:hover {
  background-color: rgb(255, 204, 41);
  color: white;
  padding: 24px 10px;
} */

/* Wrapper Glider........................... */
.glider-contain {
  width: 100%;
}

/* Right Icon for Glider */
.glider-next {
  right: 30px;
  top: 50%;
}

/* Left Icon for Glider */
.glider-prev {
  left: 30px;
  top: 50%;
}

/* Tulisan di Footer */
.footer {
  color: rgb(255, 204, 41);
}

/* Wrapper Footer */
.row {
  padding-bottom: 10px;
}

/* Location Marker Logo, Tulisan di Footer */
.fa-map-marker,
a {
  color: rgb(255, 204, 41);
}

/* Warna Footer */
h5 {
  color: white;
}
/* MENU PROGRAM KAHF........................................ */
.row.heading h2 {
  color: rgb(255, 204, 41);
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  /* margin: 0 0 40px;*/ /* Jarak Kotak menu ke tulisan Our Program */
  padding-bottom: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.heading.heading-icon {
  display: block;
}
.padding-lg {
  display: block;
  /* padding-top: 60px;  */ /* Jarak Wrapping ke Slider */
  padding-bottom: 60px;
}
.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}
.practice-area .inner {
  border: 1px solid #999999;
  text-align: center;
  margin-bottom: 28px;
  padding: 40px 25px;
}
.our-webcoderskull .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 0;
}
.practice-area .inner h3 {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 0;
}
.practice-area .inner p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.practice-area .inner img {
  display: inline-block;
}

.our-webcoderskull {
  background-color: rgb(30, 30, 30);
}
.our-webcoderskull .cnt-block {
  /*warna kotake */
  float: left;
  width: 100%;
  background: black;
  padding: 50px 10px;
  text-align: center;
  border: 2px solid rgb(255, 204, 41);
  margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure {
  /*lebar fotone*/
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img {
  width: 150px;
  /* height: 150px; */
}
.our-webcoderskull .cnt-block h3 {
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}
.our-webcoderskull .cnt-block h3 a {
  text-decoration: none;
  color: white;
}
.our-webcoderskull .cnt-block h3 a:hover {
  color: gold;
}

/* Desc Box */
.our-webcoderskull .cnt-block p {
  color: gold;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.our-webcoderskull .cnt-block .follow-us {
  margin: 20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa {
  /*warna facebook dkk */
  font-size: 24px;
  color: red;
}

/* Warna Hover dari Medsos dkk */
.our-webcoderskull .cnt-block .follow-us li .fa:hover {
  color: gold;
}
