body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: #f1f1f1;
}

.blog-post {
  width: 80%;
  height: auto;
  margin: 0 auto;
  .entry-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.blog-roll-post {
  .entry-title a {
    color: #3a4145;
    text-decoration: none;
    font-size: 2rem;
    transition: color ease 0.3s;
    &:hover {
      color: #57a3e8;
    }
  }
  .entry-title {
    margin: 1rem 0;
  }
  .entry-meta {
    color: #3a4145;
    margin-bottom: 1rem;
  }
  .entry-summary {
    color: #3a4145;
    .more-link {
      color: #3a4145;
      transition: color ease 0.3s;
      &:hover {
        color: #57a3e8;
      }
    }
  }
}
